<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link href="static/bootstrap.min.css" rel="stylesheet">   theme yeti : https://bootswatch.com/yeti/ -->

  <title>EDITx</title>
</head>
<body>
    <h1 class="title">Index</h1>


  {% for field in allFields %}
    <nav id="menu">
      <label for="tm" id="toggle-menu">navigation <span class="drop-icon">▾</span></label>
      <input type="checkbox" id="tm">
      <ul class="main-menu clearfix">
        <li><a href="/questions/{{field.name}}">{{field.name}}
            <span class="drop-icon">▾</span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
          </a>
            <input type="checkbox" id="sm1">
            <ul class="sub-menu">
              {% for subfield in field.subfields %}
                {% if (subfield.subfields)  %}
                  <li><a href="/questions/{{subfield.name}}">{{subfield.name}}
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                  </a>
                  <input type="checkbox" id="sm2">
                  <ul class="sub-menu">
                    {% for subsubfield in subfield.subfields %}
                      <li><a href="/questions/{{subsubfield}}">{{subsubfield}}</a></li>
                    {% endfor %}
                  </ul>
                  </li>
                {% else %}
                  <li><a href="/questions/{{subfield.name}}">{{subfield.name}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        </li>
      </ul>
    </nav>
  {% endfor %}


</body>

</html>

