<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Questions</title>
</head>

<body>
    <h1 class="title">{{field}}</h1>
    <br />

    <div class="container-fluid" >
        <div class="row ">
            <div class="col-md-10 col lg-10">
                <div class="row ">
                    {% for field in subfields %}
                        <div class="col-md-2 col-lg-2 ">
                            <ul>
                                <li>
                                    <a class="subfields blue" href="/questions/{{field['name']}}">{{field['name']}}</a>
                                    {% for subfield in field['subfields'] %}
                                        <ul>
                                            <li>
                                                <a class="subfields blue" href="/questions/{{subfield}}"> {{subfield}}</a>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-2 col lg-2">
                <div class="row ">
                    {% if concernedFields[0]['name'] != None %}
                      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;"> <!-- p-3 mb-2 bg-secondary text-white -->
                          <div class="card-header">Concerned fields</div>
                          <div class="card-body">
                            {% for concernedField in concernedFields %}
                                <p class="card-text">
                                    <ul>
                                        <li>
                                            <a class="subfields " href="/questions/{{concernedField['name']}}">{{concernedField['name']}}</a>
                                            {% for field in concernedField['subfields'] %}
                                                <ul>
                                                    <li>
                                                         <a class="subfields " href="/questions/{{field['name']}}">{{field['name']}}</a>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </p>
                            {% endfor %}
                          </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <br />
    {% for question in questionsList %}
        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action">{{question['title']}}</a>
        </div>
    {% endfor %}

</body>
</html>