
.center-1{
	margin-left:40px;
	margin-right:40px;
}

/*Centre les éléments inline dans les éléments possédant un attribut class="centre"*/
.center-2{
  background: #6a6868;
  margin: 30px 30px;
  padding: 10px;
}

a.black{
    color: black;
}

a.blue{
    color: #09c;
}

a{
    color: white;
}

.title{
    position:relative;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    color: #606060;
}

.subtitle{
    font-size:30px;
    color: white;
    margin-bottom: 30px;
}

.subfields{
    font-size:15px;
}


.card-header{
    background-color:#606060;
}

.card-body{
    background-color:#7f7f7f;
}
/*
hover over link which got the arrow, after reduce the size of window   to understand the logic behind it,

Watch me code this

Video link https://youtu.be/4a0s2FO_SzM
Series link https://youtu.be/2TNLCKR-kXk
*/

*{
	margin:0;
	font-family:helvetica;
	font-size:20px;

}

.colonne-centree
{
    float: none;
    margin: 0 auto;
}





body{
	background-color:#f3f3f3;
}


.btn-drop{
	display:block;
	padding:10px 0;
	color:#fff;
	text-decoration:none;
	border-radius: 10px;
}

.main-menu{
	display:flex;
	margin-top:20px;
	padding:0;
	list-style-type:none;
}
.main-menu>li{
	flex:1;
	text-align:center;
	padding:0;
	list-style-type:none;
}

.main-menu>li>a{
	background:linear-gradient(to bottom, #09c, #000);
}

.sub-menu-layout-1>li>a{
	background:linear-gradient(to bottom, #09c, #000);
}

.sub-menu-layout-2>li>a{
	background:linear-gradient(to bottom, #09c, #000);
}

.main-menu>li:not(:first-child){
	margin-left:1px;

}

.sub-menu-layout-1>li{
	margin-top:1px;
	padding:0;
	list-style-type:none;
}

.sub-menu-2{
	position:relative;
	z-index:10;
}
.sub-menu-layout-2{
	position:absolute;
	width:100%;
	left:100%;
	top:0%;
	padding:0;
	list-style-type:none;
}

.sub-menu-layout-2>li:not(:first-child){
	margin-top:1px;
}

.sub-menu-layout-2{
	margin-left:1px;
}

.sub-menu>a:after{
	content:"";
	width:10px;
	height:10px;
	display:inline-block;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
	margin-left:10px;
	transform:rotate(45deg);
	position:relative;
	transition:1s transform ease;
}

.sub-menu-2>a:after{
	transform:rotate(315deg);
}

li>a:hover{
	font-size:21px;
	color: white;
}

li>a.blue:hover{
	font-size:21px;
	color: #09c;
}

.sub-menu-layout{
	display:none;
}

.sub-menu-1:hover .sub-menu-layout-1,
.sub-menu-2:hover .sub-menu-layout-2{
	display:block;
}

.sub-menu-1:hover>a:after{
	transform:rotate(-135deg);
	top:3px;
}

.sub-menu-2:hover>a:after{
	transform:rotate(135deg);

}

@media screen and (max-width:500px){
	.main-menu{
		flex-direction:column;
	}
	.sub-menu-1,.sub-menu-layout-2{
		position:static;
	}
	.main-menu>li:not(:first-child){
		margin-left:0;
		margin-top:1px;
	}

	.sub-menu-layout li:nth-child(n){
		margin:1px 0 0 0;
	}

	.sub-menu-2>a:after{
		transform:rotate(45deg);
	}

	.sub-menu-2:hover>a:after{
		transform:rotate(-135deg);
		top:3px;
	}

	.sub-menu-layout-1,.sub-menu-layout-2{
		display:block;
		margin:0;
		max-height:0px;
		overflow:hidden;
		transition:6s all ease;
	}

	.sub-menu-1:hover .sub-menu-layout-1,
	.sub-menu-2:hover .sub-menu-layout-2{
		max-height:280px;
	}
}



























